
header{
	background:#A9A9A9;
	font-family:"Times New Roman",Times,serif;
}
h1{	text-align: center;
	font-size: 300%;
	text-transform: uppercase;
}

h1{
	color: #fff;
}

h2{
	color:#fff;
	font-weight: 1000;
	text-transform: uppercase;
	font-family: "Times New Roman",Times,serif;
}

section{
	background:#696969;
	font-family: "Times New Roman",Times,serif 
}

a{
	background: #D3D3D3;
	color:#222;
}
img{
	display: none;
}
header{
	border: solid 1px #CC00AA;
	border-style: outset;
}
h1{
	border-style: outset;
	border-width: 3px;
	margin: 10px;
	padding: 10px;
}
h2{
	border-style: outset;
}
